<div class="header splash pure-u-1">
    <h1 class="pure-u-1">{{title}}
    <h2 class="pure-u">{{subtitle}}</h2>
</div>
    <div class="content">
        <p> Welcome to {{title}}</p>
        <p>We are fund raising for the Orphanage of Hope in Tijuana, Mexico. <a href="http://kevinisom.info/">I'm</a> going to be walking 15k to help that cause. If you could sponsor my efforts I'd greatly appreciate it.</p>
        <p>Here is some information in pdf form.</p>
            <ul>
                <li><a href="/assets/Orphanage in Tijuana, Mexico.pdf">Orphanage in Tijuana</a></li>
                <li><a href="/assets/Orphanage Pics.pdf">Pictures from Orphanage</a></li>
            </ul>
        <p>Please, if you could sponsor me, just fill in the <a href="https://docs.google.com/forms/d/1K0nOjDNqg8L8a3GNT23gro6P7eGtAbuU8l9r5KfI7P0/viewform"> form</a>
        </p>
    </div>